body {
  background-color: #f0e1e1;
  /* Light gray background for the entire page */
}

.container {
  width: 50%;
  margin: auto;
  font-family: Arial, sans-serif;
  background-color: #836f6f;
  /* White background for the container */
  padding: 20px;
  /* Add padding inside the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Optional: Add a subtle shadow */
}

.container .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #1466b3;
  border-radius: 4px;
}

.container button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
 
  background-color: #3a94e7;
  border-radius: 4px;
  cursor: pointer;
}

.container button:hover {
  opacity: 0.8;
}

.container .high-priority {
  background-color: red;
  color: white;
}

.container .medium-priority {
  background-color: yellow;
  color: black;
}

.container .low-priority {
  background-color: green;
  color: white;
}